# dependencies
node_modules/
npm-debug.log

# env
.env
.env.*

# uploads / runtime
uploads/

# vscode
.vscode/

# Docker
#.dockerignore

# SSL / Certbot
nginx/certs
nginx/certs/**
nginx/certs/**/*
nginx/certs/accounts

# OS junk
.DS_Store

