version: "3.9"

services:
  app:
    build: .
    container_name: filesharing-single-v2
    ports:
      - "80:80"
      - "443:443"
    env_file: .env
    volumes:
      - caddy_data:/data
      - caddy_config:/config
    restart: always

volumes:
  caddy_data:
  caddy_config:

